* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   cursor: default;
}

html { 
	scroll-behavior: smooth; 
}

body {
    font-family: 'Montserrat', sans-serif;
	font-size: 12px;
    width: 0, auto;
}

.contenedor {
    width: 90%;
    max-width: 1100px;
    padding: 60px, auto;
    margin: auto;
    overflow: hidden;
	position: relative;
}

.contenedor-negro {
	background-color: #333;
	padding: 60px, auto;
    margin: auto;
	margin-top: 80px;
    overflow: hidden;
	position: relative;
}

.contenedor h3 {
	text-align: center;
	font-size: 30px;
	color:#333;
	padding-top: 50px;
	padding-bottom: 35px;
}

.contenedor-negro h3 {
	text-align: center;
	font-size: 30px;
	color:#FFF;
	padding-top: 60px;
	padding-bottom: 35px;
}

.contenedor h4 {
	text-align: center;
	font-size: 18px;
	color: #333;
	padding-bottom: 10px;
}

footer.contenedor-negro h4 {
	text-align: center;
	font-size: 14px;
	color: #FFF;
	padding-top: 40px;
}

.contenedor-negro h4>a {
	display: block;
	text-align: left;
	font-size: 14px;
	color: #FFF;
}

.contenedor-negro h4>a:hover {
	text-decoration: underline;
}

h3>a {
	cursor: default;
}

a {
    cursor: pointer;
	text-decoration: none;
}

header {
	background-color: #333;
}

.menu {
	margin: auto;
	background-color: #333;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
	padding-left: 30px;
	padding-right: 30px;
    color: #FFF;
}

a.boton {
    padding: 10px 20px;
    background-color: #EFC026;
    border-radius: 20px;
	text-align: center;
	color: #fff;
	font-size: 14px;
	font-weight: bold;
}

a.boton:hover {
	background-color: #F0A029;
}

.logo img {
    display: block;
    width: 80px;
    height: 80px;
    align-self: flex-start;
}

.enlaces {
    align-self: flex-end;
    padding-bottom: 20px;
    display: inline block;
}

.enlaces a {
    color: #FFF;
    font-weight: bold;
}

.enlaces a:hover {
    text-decoration: underline;
    font-weight: bold;
}

.enlaces li {
    list-style-type: none;
    display: inline-block;
    padding-left: 25px;
    font-size: 14px;
}

.arrow {
	font-size: 51px;
	font-weight: bold;
	border-radius: 50%;
	width: 50px;
	height: 65px;
	color: white;
	text-align: center;
	display: inline-block;
	transition: all 0.3s ease;
  }

  .arrow:hover {
	color: #121212;
	background: white;
	cursor: pointer;
  }


  .carousel {
	position: relative;
	display: block;
	margin: 0 auto;
	margin-top: 1%;
  }

  .arrow-left {
	position: absolute;
	left: 0;
	top: 50%;
	margin-left: 5px;
	transform: translateY(-50%);
  }

  .arrow-right {
	position: absolute;
	right: 0;
	top: 50%;
	margin-right: 5px;
	transform: translateY(-50%);
  }

  #img {
	width: 100%;
    height: 500px;
  }

  .d-none {
	display: none;
  }

  .indicators {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: 0;
	margin-bottom: 10px;
  }

  #titulo {
	position: absolute;
	top: 50%;
	left: 28%;
	font-size: 50px;
	font-weight: 700;
	margin: 0 auto;
	color: #EEE;
}

  .indicators>span {
	display: inline-block;
	border-radius: 50%;
	width: 20px;
	height: 20px;
	background: white;
  }

  .indicators>span.active {
	background: #EFC026;;
  }

#ofertas {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.viajes-oferta {
	width: 100%;
	padding: 0px 50px 50px 50px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
}

.viajes-oferta-bloque {
	display: flex;
	flex-direction: column;
}

.viajes-oferta-bloque:hover {
	transition: .5s all;
	transform: scale(1.1);
	cursor: pointer;
}

.viajes-oferta img {
	width: 220px;
	height: 250px;
	border-radius: 15px;
	display: inline-block;
}

.viajes-oferta h4 {
	display: block;
}

.viajes-oferta p {
	text-align: center;
	font-weight: 600;
	font-size: 14px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.viajes-oferta .boton {
	max-width: 150px;
	margin: auto;
	padding: 15px 20px;
}

.beneficios {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	background-color: #F0F0F0;
	border-radius: 15px;
}

.beneficios-contenido {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 50px;
}

.beneficios-bloque {
	width: 30%;
	height: 100%;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
}

.beneficios-bloque i {
	font-size: 50px;
	color: #333;
	padding-bottom: 20px;
}

#beneficio2, #beneficio3 {
	border-left: 2px solid #CDCDCC;
}

.beneficios-bloque p {
	text-align: center;
	padding-bottom: 20px;
}

.beneficios-bloque .boton {
	color: #333;
	background-color: #F0F0F0;
	border: 1px solid #333;
	font-size: 12px;
}

.beneficios-bloque .boton:hover {
	background-color: #EFC026;
	color: #FFF;
	border: 1px solid #EFC026;
}

.nuestros-viajes-contenedor {
	display: flex;
	flex-direction: column;
	align-content: center;
}

.nuestros-viajes {
	width: 90%;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
	align-content: flex-start;
	padding-top: 20px
}

.nuestros-viajes-bloque {
	padding: 15px;
}

.nuestros-viajes-bloque:hover{
	transition: .5s all;
	transform: scale(1.05);
}

.nuestros-viajes img {
	width: 190px;
	height: 190px;
	border-radius: 15px;
}

.buscador-viajes {
	margin: auto;
	width: 300px;
	background-color: #FFF;
	border-radius: 10px;
	margin-top: 30px;
}

.buscador-viajes:hover {
	transition: .5s all;
	transform: scale(1.1);
	cursor: pointer;
}

.buscador-viajes:focus {
	transition: .5s all;
	transform: scale(1.1);
	cursor: pointer;
}

.buscador-viajes i {
	font-size: 20px;
	padding: 5px 8px;
}

.buscador-viajes i:hover {
	color: #EFC026;
}

.buscador-viajes #buscador {
	border: none;
	width: 250px;
	height: 30px;
	border-radius: 10px;
	background-color: #FFF;
	outline: none;
	font-family: 'Montserrat', sans-serif;
}

input.boton {
	width: 200px;
	margin-top: 30px;
	margin-bottom: 50px;
	padding: 15px 20px;
    background-color: #EFC026;
	border: 1px solid #EFC026;
    border-radius: 20px;
	text-align: center;
	color: #fff;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	font-weight: bold;
}

input.boton:hover {
	background-color: #F0A029;
	border: 1px solid #F0A029;
}

.footer {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

.footer i {
	font-size: 30px;
	color: #CDCDCC;
	padding: 25px 30px;
}

.footer i:hover {
	color: #FFF;
	cursor: pointer;
}

footer .enlaces {
	align-self: center;
	padding-bottom: 20px;
	padding-top: 15px;
}

footer .enlaces li{
	padding: 0px 35px;
	font-size: 12px;
	font-weight: normal;
}

@media (max-width: 750px) {
	.menu {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		align-content: center;
	}

	.enlaces li {
		margin-bottom: 7px;
		margin-top: 7px;
	}

	.contenedor h3 {
		font-size: 20px;
	}

	.contenedor-negro h3 {
		font-size: 25px;
	}

	.viajes-oferta h4 {
		margin-top: 25px;
	}

	nav.enlaces {
		margin-bottom: 20px;
	}

	.caption {
		color: white;
		position: absolute;
		width: 80%;
		top: 20%;
		left: 9%;
		margin: auto;
		text-align: center;
	}
	
	#titulo {
		font-size: 45px;
		font-weight: 700;
		margin: 0 auto;
	}
	
	#subtitulo {
		font-size: 25px;
		font-weight: 500;
		padding-top: 100px;
		margin: 0 auto;
	}

	div.beneficios h4 {
		font-size: 15px;
	}

	div.beneficios .boton {
		padding: 10px 10px;
	}

	.beneficios-bloque i {
		font-size: 30px;
	}
}